.App {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #344bb3;
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 2.5rem;
  color: #fffcfc;
  margin-bottom: 30px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #c8d8d8 0%, #66a6ff 100%);
  font-family: 'Quicksand', sans-serif;
  color: #333;
  padding: 20px;
  box-sizing: border-box;
}
.weather-checker-title {
  font-family: "Noto Serif", serif;
  font-size: 3rem; 
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c1c9da;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
